Checks: >
  -*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-magic-numbers