InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
CompileFlags:
  Add:
    - "-std=c++20"
    - "-D"
    - "JM_XORSTR_DISABLE_AVX_INTRINSICS"
    - "-D"
    - "_DEBUG"
    - "-D"
    - "DEBUG_CONSOLE"