InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
CompileFlags:
  #Compiler: clang-cl
  Add:
    # - "/c /Z7 /JMC /W3 /WX- /diagnostics:column /Od /D __clang__ /D __llvm__ /D _DEBUG /D _CONSOLE /D _WINDLL /D _MBCS /D WIN32_LEAN_AND_MEAN /D _CRT_SECURE_NO_WARNINGS /D JM_XORSTR_DISABLE_AVX_INTRINSICS"
    # - "/D DEBUG_CONSOLE /D NOMINMAX /EHsc /MTd /GS /arch:AVX /fp:precise /hotpatch /Zc:wchar_t /std:c++20 /Gd /TP --target=x86_64-pc-windows-msvc  /clang:-Wno-microsoft-cast /clang:-Werror=return-type"
    - "-std=c++20"
    - "-D"
    - "JM_XORSTR_DISABLE_AVX_INTRINSICS"
    - "-D"
    - "_DEBUG"
    - "-D"
    - "DEBUG_CONSOLE"
    - "-Wno-microsoft-cast"
    - "-D"
    - "NOMINMAX"
    - "-Werror=return-type"
